<div id="container">

    <div id="side-bar">
    
        <div id="user">
            <div id="iconUser">
                <%- icons.person %> 
            </div> 
            <div id="nameUser"><%- user %></div>


            <div id="btLogout">
                <button class="button" id="logout">
                    <%- icons.logout  %> 
                </button>
            </div>
             
        
        </div>
        
        <div id="buttonsCase">

            <button id="requisitar" class="button btOption"> 
                <span id="iconBt" >
                    <%- icons.addForm %> 
                </span> Requisitar Item
            </button>
            
            <button id="pesquisar" class="button btOption"> 
                <span id="iconBt" >
                    <%- icons.search %> 
                </span> Pesquisar 
            </button> 

            <button id="requisicoes" class="button btOption"> 
                <span id="iconBt" >
                    <%- icons.form %> 
                </span> Requisições
            </button>
            
            <button id="estoque" class="button btOption"> 
                <span id="iconBt" >
                    <%- icons.box %> 
                </span> Estoque
            </button>          
                
            <button id="login" class="button btOption"> 
                <span id="iconBt" >
                    <%- icons.login %> 
                </span> Login 
            </button>
                
             

        </div>
        
        <div id="sobre">
            &copy; Leandro Santino 
            <button class="button" id="btSobre">
                <%- icons.info  %> 
            </button>            
        </div>
    
    </div>

    <div id="mainCase">
        <div>

            <div id="caseImg" >
                <img id="logoAdler" src="../../src/logoAdler.png" alt="teste">
            </div>            
            
            <h1>Sistema de Gestão</h1>
            <h3>Almoxarife</h3>
            
            <ul>
                <li>Se voçê tiver acesso de Admistrador, faça login para destravar todos os recursos do sistema.</li>
                <li>Se voçe for um usuário comum, ainda poderá: 
                    <ul>
                        <li>Fazer requisições de itens cadastrados.</li>
                        <li>Pesquisar os item existentes no Estoque</li>
                    </ul>
                </li>
                <li>
                    <strong> Obs: </strong> As requisições feitas por usuarios comuns, não serão validadas de imediato, elas precisam ser aprovadas por um administrador do sistema.
                </li>
            </ul>

        </div>
    </div>

</div>