<div id="container">

    <div id="side-bar" class="sideBar_normal">
    
        <div id="user">
            <div id="iconUser">
                <%- icons.list %> 
            </div> 

            <div id="nameUser">Menu</div>

            <div id="btLogout"> 
                <button class="button" id="logout">
                    <%- icons.logout  %> 
                </button>
            </div>
             
        
        </div>
        
        <div id="buttonsCase">

            <!--
                <button id="pesquisar" class="btOption"> 
                    <span id="iconBt" >
                        <%- icons.search %> 
                    </span> 
                    <div>
                        Pesquisar
                    </div> 
                </button> 

                <button id="estoque" class="btOption"> 
                    <span id="iconBt" >
                        <%- icons.box %> 
                    </span> 
                    <div>
                        Estoque
                    </div>
                </button>
                
            -->

            <button id="requisitar" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.addForm %> 
                </span> 
                <div>
                    Requisitar Item 
                </div>
            </button>
            
            <button id="moviments" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.movement %> 
                </span> 
                <div>
                    Movimentações
                </div>
            </button>
            
            <button id="requests" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.form %> 
                </span> 
                <div>
                    Requisições
                </div>
            </button>
            

            <button id="inventario" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.checkList %> 
                </span> 
                <div>
                    Inventário
                </div>
            </button>
            
            <button id="config" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.config %> 
                </span> 
                <div>
                    Configurações
                </div>
            </button>          
                
            <button id="login" class="btOption"> 
                <span id="iconBt" >
                    <%- icons.login %> 
                </span> 
                <div>
                    Login
                </div> 
            </button>
                
        </div>
        
        <div id="sobre">
            &copy; Leandro Santino 
            <button class="button" id="btSobre">
                <%- icons.info  %> 
            </button>            
        </div>
    
    </div>

    <div id="mainCase">
        <div id="welcomePage" >

            <div class="row" id="caseImg" >
                <img id="logoAdler" src="../../src/logoAdler2.png" alt="teste">
            </div>            

            <div class="row" id="caseTitle">
                <div id="title">ALMOXARIFADO</div>
                <div id="sub-title">Requisição de Peças</div>
                <div id="info">Informe sua matricula abaixo para continuar!</div>
            </div>
            
            <div class="row" id="caseInput">
                <label for="matricula">Senha:</label>
                <input type="text" id="matricula">
                <button id="btEntrar">Entrar</button>
            </div>

        </div>
    </div>

</div>


<!--

<h1>Sistema de Gestão</h1>
            <h3>Almoxarife</h3>
            
            <ul>
                <li>Se voçê tiver acesso de Admistrador, faça login para destravar todos os recursos do sistema.</li>
                <li>Se voçe for um usuário comum, ainda poderá: 
                    <ul>
                        <li>Fazer requisições de itens cadastrados.</li>
                        <li>Pesquisar os item existentes no Estoque</li>
                    </ul>
                </li>
                <li>
                    <strong> Obs: </strong> As requisições feitas por usuarios comuns, não serão validadas de imediato, elas precisam ser aprovadas por um administrador do sistema.
                </li>
            </ul>

-->