
<div>
    <table id="rotulo" class="table">
        <tbody >
            <tr id="border" > 
                <td style="width: 100px;" > Data      </td>
                <td style="width: 100px;" > Código    </td>
                <td style="width: 360px;" > Descrição </td>
                <td style="width:  80px;" > Endereço  </td> 
                <td style="width:  80px;" > Tipo      </td>
                <td style="width:  60px;" > Quant     </td>
                <td style="width:  70px;" > E. Ante.  </td>
                <td style="width: 70px;"  > E. Atual  </td>
                <td style="width: 70px;"  >   </td>

            </tr>
        </tbody>
    </table>            
</div>
 
<div id="tableArea">
    <table id="tabela" class="table">
        <tbody  id="table" class="scroll">
            <%
                Object.keys(dados).forEach(key => { 
                const row = dados[key]

                const product = products[key]

            %>
                <tr style="height: 45px;">
                    <td style="width: 100px;" > <%- row.date       %> </td>
                    <td style="width: 100px;" > <%- key            %> </td>
                    <td style="width: 360px;" > <%- product.descricao  %> </td>
                    <td style="width:  80px;" > <%- product.endereco   %> </td>
                    <td style="width:  80px;" > <%- row.tipo       %> </td>
                    <td style="width:  60px;" > <%- row.quantidade %> </td>
                    <td style="width:  70px;" > <%- row.anterior   %> </td>
                    <td style="width:  70px;" > <%- row.atual      %> </td>
                    <td style="width:  70px;" >
                        <button id="BtDelete" onclick="screens.inventario.deleteHistorico('<%- key %>')" ><%- icons.close%></button>
                    </td>
                </tr>     
            <%});%>   
        </tbody>   
    </table>                      
</div>